.list_item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 10px;
    word-break: break-word;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
}

.button_done {
    background-color: rgb(2, 154, 2);
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: 1s;
}

.button_done:hover {
    background-color: hsl(120, 97%, 41%);
}

.button_remove {
    background-color: crimson;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    transition: 1s;
}

.button_remove:hover {
    background-color: hsl(348, 83%, 57%);
}

.list_item_done {
    text-decoration: line-through;
}