.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.buttons_button {
    background-color: white;
    color: teal;
    border: none;
    transition: 1s; 
}

.buttons_button:hover {
    color: hsl(180, 100%, 35%);
}
